<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Insert Placement Detail</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


	<script>
		function save() {
			var data = {}

			data["date"] = $("#date").val();
			data["client"] = $("#client").val();
			data["role"] = $("#role").val();
			data["candidate_name"] = $("#candidate_name").val();
			data["primary_contact"] = $("#primary_contact").val();
			data["email"] = $("#email").val();
			data["total_experience"] = $("#total_experience").val();
			data["cctc"] = $("#cctc").val();
			data["cctc"] = $("#ectc").val();
			data["official_NP"] = $("#official_NP").val();
			data["current_location"] = $("#current_location").val();
			data["status"] = $("#status").val();
			data["vaccination_status"] = $("#vaccination_status").val();
			data["recruiter"] = $("#recruiter").val();

			$.ajax({
				url: "/",
				contentType: "application/json",
				data: JSON.stringify(data),
				type: "post",
				success: function (data) {

					window.location.href = '/display';
					alert("Inserted Successfully" + data);

				},
				error: function (e) {
					alert('error', e);
				}
			});
		}


	</script>

	<style>
		input {
			margin:5px;
		}
	</style>

</head>

<body>
	<main>

		<div class="form-group col-md-4">
			<!-- <input type="text" id="slno"> -->
			date: <input type="date" id="date" class="form-control">
			client: <input type="text" id="client" class="form-control">
			role: <input type="text" id="role" class="form-control">
			candidate name: <input type="text" id="candidate_name" class="form-control">
			primary contact: <input type="tel" id="primary_contact" class="form-control">
			email: <input type="email" id="email" class="form-control">
			total experiance: <input type="text" id="total_experience" class="form-control">
			cctc: <input type="text" id="cctc" class="form-control">
			ectc: <input type="text" id="ectc" class="form-control">
			notice period: <input type="number" id="official_NP" class="form-control">
			location: <input type="text" id="current_location" class="form-control">
			status: <input type="text" id="status" class="form-control">
			vaccine: <input type="text" id="vaccination_status" class="form-control">
			recruiter: <input type="text" id="recruiter" class="form-control">
			<input type="submit" value="Add" onclick="save();" class="btn btn-success">
		</div>
	</main>

	<!-- Labels -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
		</script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
		</script>

	<!-- Include Dexie -->
	<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>


</body>

</html>